# Ignore virtual environment
venv/

# Ignore __pycache__ directories
__pycache__/

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Retain directory structure by ignoring all files but not directories
*/
!*/

# ignore files
*.db
*.json
*.jsonl