# Virtual environments
venv/
.venv/

# VS Code workspace settings
.vscode/

# Environment files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Database files
*.db
*.bak
*.dat
*.dir

# JSON-based data
*.json
*.jsonl
