# Virtual environments
venv/
.venv/

# VS Code workspace settings
.vscode/

# Environment files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore JSON and JSONL files only in the storage directory
/storage/*.json
/storage/*.jsonl
